{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">

  <main id="bodyContent">
      {% for bag in bags %}
      <a href="{% url 'merch_buymerch' bag.id %}">
        <div class="merch_box imageBox p5">
            <img src="{{bag.image}}" alt="Trulllli" width="100%" height="222">
            <h3>{{bag.name}}</h3>
            <p>{{bag.description}}</p>
            <p>{{bag.price}}kr.</p>
        </div>
      </a>
      {% endfor %}

  </main>
{% endblock %}