{% extends 'base.html' %}


{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/buymerch.css' %}">

    <div class="big_box">
        <div class="img_box">
            <img class="merch_photo"  src="{{merch.image}}" height="1002" width="1024"/>
        </div>

        <div class="data_box">
            <div class="name_box">Name: {{merch.name}}</div>
            <div class="price_box">Price: {{merch.price}} kr.</div>
            <div class="info_box">Info: {{merch.description}}</div>
        </div>
    </div>

    <div class="check_box">
        <p> Choose a size</p>
        Small <input type="radio" name="size" value="Small">
        Medium <input type="radio" name="size" value="Medium" checked>
        Large <input type="radio" name="size" value="large">
    </div>

    <button class="button" type="button">Buy!</button>

{% endblock %}