{% extends 'base.html' %}


{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/buymerch.css' %}">

    <div class="Big_box">
        <div class="Img_box">
            <img class="merch_photo"  src="../../static/images/doge.png" height="1002" width="1024"/>
        </div>

        <div class="Data_box">
            <div class="name_box">Name: </div>
            <div class="price_box">Price: </div>
            <div class="info_box">Info: </div>
        </div>
    </div>

    <div class="Check_box">
        <p> Choose a size</p>
        <div class="prufa">
            <input type="radio" name="size" value="Small"> Small
            <input type="radio" name="size" value="Medium" checked> Medium
            <input type="radio" name="size" value="large"> Large
        </div>
    </div>

    <div class="Buy_box">
        <div class="BUY">
            <button class="takki" type="button">Buy!</button>
        </div>
    </div>
{% endblock %}