{% extends 'base.html' %}


{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/buymerch.css' %}">

    <div class="Big_box">
        <div class="Img_box">
            <img class="merch_photo" src="https://www.w3schools.com/images/w3schools_green.jpg" alt="Italian Trulli">
        </div>
        <div class="Data_box">
            <div class="name_box">Name: </div>
            <div class="price_box">Price: </div>
            <div class="info_box">Info:  </div>
        </div>
    </div>

    <div class="Check_box">
        <p>JANUS</p>
    </div>

    <div class="Buy_box">
        <div class="BUY"></div>
    </div>
{% endblock %}