{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">

  <main id="bodyContent">

      <div class="foodBox imageBox p5">
    <img src="{% static 'images/hat.png' %}" alt="Trulllli" width="100%" height="222">
      <h3>Habitat hat</h3>
      <p>A crazy hat</p>
      <p>8.80&euro;</p>
    </div>

   <div class="foodBox imageBox p5">
    <img src="{% static 'images/hatt.png' %}" alt="Trulllli" width="100%" height="222">
      <h3>High Habitat hat</h3>
      <p>Own the place with this hat</p>
      <p>12.80&euro;</p>
    </div>

  </main>
{% endblock %}