{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">

  <main id="bodyContent">
      {% for category in categories %}
          <a href="{{category.name}}">
            <div class="merch_box merchimg">
                <img src="{{category.image}}" alt="Trulllli" width="100%" height="222">
                <h3>{{category.name}}</h3>
                <p>{{category.description}}</p>
            </div>
          </a>
      {% endfor %}
  </main>
{% endblock %}