{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">

  <main id="bodyContent">
      <a href="bags">
        <div class="foodBox merchimg">
            <img src="{% static 'images/bag.png' %}" alt="Trulllli" width="100%" height="222">
            <h3>Bags</h3>
            <p>Awesome bags for those who want to stand out.</p>
        </div>
      </a>

      <a href="hats">
        <div class="foodBox merchimg">
            <img src="{% static 'images/hat.png' %}" alt="Trulllli" width="100%" height="222">
            <h3>Hats</h3>
            <p>Crazy hats for cool people</p>
        </div>
      </a>

      <a href="t-shirts">
        <div class="foodBox merchimg">
            <img src="{% static 'images/t-shirt.png' %}" alt="Trulllli" width="100%" height="222">
            <h3>T-Shirts</h3>
            <p>Beautiful T-shirts for beautiful people</p>
        </div>
      </a>

     <a href="aboutmerch">
        <div class="aboutUsBox merchimg">
            <img src="{% static 'images/upside-down.PNG' %}" alt="Trulllli" width="100%" height="222">
            <h3>About our merch</h3>
            <p>Only the finest</p>
        </div>
     </a>
  </main>
{% endblock %}