{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">

  <main id="bodyContent">
    {% for tshirt in tshirts %}
      <a href="{% url 'merch_buymerch' tshirt.id %}">
        <div class="merch_box imageBox p5">
            <img src="{{tshirt.image}}" alt="Trulllli" width="100%" height="222">
            <h3>{{tshirt.name}}</h3>
            <p>{{tshirt.description}}</p>
            <p>{{tshirt.price}}kr.</p>
        </div>
      </a>
    {% endfor %}
    </main>


{% endblock %}