{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">

  <main id="bodyContent">
    <div class="foodBox imageBox p5">
      <img src="{% static 'images/t-shirt.png' %}" alt="Trulllli" width="400" height="222">
      <h3>Habitat</h3>
      <p>Beautiful t-shirt</p>
      <p>9.50&euro;</p>
    </div>

    <div class="foodBox imageBox p5">
      <img src="{% static 'images/tshirt.png' %}" alt="Trulllli" width="400" height="222">
      <h3>Love t-shirt</h3>
      <p>The cool one</p>
      <p>17.50&euro;</p>
    </div>

    <div class="foodBox imageBox p5">
      <a href="https://www.w3schools.com">
      <img src="{% static 'images/tshirt2.png' %}" alt="Trulllli" width="400" height="222">
      <h3>Lion t-shirt</h3>
      <p>The sexy one</p>
      <p>12.50&euro;</p>
      </a>
    </div>

  </main>
{% endblock %}