{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">

  <main id="bodyContent">
    <div class="foodBox imageBox p5">
    <img src="{% static 'images/t-shirt.png' %}" alt="Trulllli" width="400" height="222">
      <h3>T-Shirts</h3>
      <p>Beautiful T-shirt</p>
      <p>9.50&euro;</p>
    </div>

      <div class="foodBox imageBox p5">
    <img src="{% static 'images/tshirt.png' %}" alt="Trulllli" width="400" height="222">
      <h3>T-Shirts</h3>
      <p>The cool one</p>
      <p>17.50&euro;</p>
    </div>

  </main>
{% endblock %}