{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/aboutUs.css' %}">

  <main id="bodyContent">
    <div class=" imageBox aboutUsBox p5">
        <img class="photokill" src="{% static 'images/Upside-Down-House.jpg' %}" alt="Trulllli" width="1100" height="500">
        <h3>About Us</h3>
        <p>We are a company that focuses on you. geirgier jgire jigerwj giwre joiklfds klsd kdf ejir fesfmik
        We use only the finest geirgier jgire jigerwj giwre joiklfds klsd kdf ejir fesfmik
        We use only the finest geirgier jgire jigerwj giwre joiklfds klsd kdf ejir fesfmik
        We use only the finest geirgier jgire jigerwj giwre joiklfds klsd kdf ejir fesfmik</p>

    </div>

  </main>
{% endblock %}