{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/Home.css' %}">


    <h2 style="text-align: center">Find your new<u><p id="ran_hom">____</p></u></h2>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="{% static 'js/houses.js' %}"></script>

    <div class="searchBar">
        <div class="input-group">
            <input type="search" class="form-control" id="search-box" placeholder="Search for your next home " />
            <div class="input-group-btn">
                <button type="button" id="search-btn" class="btn btn-default"> Search</button>
            </div>
        </div>
    </div>

    <div class="chooseBox">
        <div class="allBox">
            <div class="findBox"><h3><a href="houses">Find your next home</a></h3></div>
            <div class="sellBox"><h3><a href="houses/sell">Sell your home</a></h3></div>
            <div class="merchBox"><h3><a href="merch">Buy merch</a></h3></div>
        </div>
    </div>


    <div class="houses">
        {% for house in houses %}
        {% include 'house/single_house.html' with house=house %}
        {% endfor %}
    </div>


    <!--The script is loaded intentionally here, don't move it.-->
    <script src="{% static 'js/random_home.js' %}"></script>
{% endblock %}