{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/Home.css' %}">


    <h2 style="text-align: center">Find your new<u><p id="ran_hom">____</p></u></h2>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="{% static 'js/houses.js' %}"></script>

    <div class="searchBar">
        <div class="input-group">
            <input type="search" style="background-color: aliceblue; text-align: center" class="form-control" id="search-box" placeholder="Search for your next home " />
            <div class="input-group-btn">
                <button type="button" style="background-color: orange" id="search-btn" class="btn btn-default"> Search</button>
            </div>
        </div>
    </div>

    <div class="chooseBox">
        <div class="allBox">
            <a href="houses" style="color: white;"><div class="findBox"><div class="fill"><h3>Find your next home</h3></div></a></div>
            <a href="houses/sell" style="color: white;"><div class="sellBox"><div class="fill"><h3>Sell your home</h3></div></a></div>
            <a href="merch" style="color: white;"><div class="merchBox"><div class="fill"><h3>Buy merch</h3></div></a></div>
        </div>
    </div>


    <div class="houses">
        {% for house in houses %}
            {% if house.on_sale %}
                {% include 'house/single_house.html' with house=house %}
            {% endif %}
        {% endfor %}
    </div>


    <!--The script is loaded intentionally here, don't move it.-->
    <script src="{% static 'js/random_home.js' %}"></script>
{% endblock %}