{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/merch.css' %}">

  <main id="bodyContent">
    <div class="foodBox imageBox p5">
        <!--<img src="{% static 'images/upside-down.PNG' %}" alt="Trulllli" width="400" height="222">-->
        <h3>About Us</h3>
        <p>We are the best geirgier jgire jigerwj giwre joiklfds klsd kdf ejir fesfmik
        We use only the finest geirgier jgire jigerwj giwre joiklfds klsd kdf ejir fesfmik
        We use only the finest geirgier jgire jigerwj giwre joiklfds klsd kdf ejir fesfmik
        We use only the finest geirgier jgire jigerwj giwre joiklfds klsd kdf ejir fesfmik</p>

    </div>

  </main>
{% endblock %}