#container {
    border-style:solid;
    height: 100px;
    width: 96%;
    margin-left: 1%;
    background: #3d86ff;
    
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#container > div {
    width: 150px;
    height: 125px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.box3 {
    padding-top: 25px;
}




