footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.site-footer {
  background-color: #0000b3;
  padding:20px 0 3px;
  font-size:15px;
  line-height:24px;
  color:white;
}

.site-footer hr {
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small {
  margin:20px 0
}

.site-footer h6 {
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a {
  color:white;
}

.site-footer a:hover {
  color:#3366cc;
  text-decoration:none;
}

.footer-links {
  padding-left:0;
  list-style:none
}

.footer-links li {
  display:block
}

.footer-links a {
  color:white;
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color:white;
  text-decoration:none;
}

.footer-links.inline li {
  display:inline-block
}

.site-footer .social-icons {
  text-align:right
}

.site-footer .social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.copyright-text {
  margin:0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom:30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom:0
  }

  .site-footer .copyright-text .social-icons {
    text-align:center
  }
}

@media (max-width:767px) {
  .social-icons li.title {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.col-xs-6 {
    border: 1px solid white;
    float: right;
}

.container-fluid {
    height: 8em;
    display: flex;
    justify-content: space-between;
}

.loginsign {
    position: absolute;
    left: 2%;
    width: 100px;
    height: 50px;
    margin: 5px;
}

#lgn {
  margin: 5px;
}

#lgt {
  margin: 5px;
}

#user_profile {
  right: 1%;
  padding-top: 40px;
  position: absolute;
  font-size: 20px;
}

#prof_img {
  border-radius: 30%;
}

.navbar{
    background-color: #0000b3;
}

.navbar-brand {
    top: 22%;
    font-size: 3.5em;
}

.navbar-header-logo {
    float: left;
    margin-top: 1em;
}

.column {
    padding-left: 5em;
    padding-top: 1.5em;
}