
.Big_box {
    border: 1px solid black;
    width: 100%;
    height: 40px;
}

.Img_box {
     border: 1px solid red;
    height: 40px;
}

.Data_box {
     border: 1px solid blue;
    height: 40px;
}

.name_box {
    border: 10px orange;
    height: 40px;
}

.price_box {
    border: 10px orange;
    height: 40px;
}

.info_box {
    border: 10px orange;
    height: 40px;
}

.Check_box {
    border: 10px orange;
    height: 40px;
}

.Buy_box {
    border: 10px orange;
    height: 40px;
}

