.searchBar {
    text-align: center;
}

.searchTerm {
    width: 80%;
    height: 2.5em;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2em;
    margin-top: 2px;
}

.searchButton {
    height: 2.5em;
    border-radius: 5px;
    padding-top: 8px;
}

.chooseBox {
    float: left;
    margin-top: 1em;
    margin-bottom: 1.5em;
    width: 100%;
}

.allBox {
    display: flex;
    height: 100%;
    float: left;
    margin-left: 17%;
    margin-right: 17%;
}

.findBox {
    border: 3px solid black;
    border-radius: 5px;
    margin-right: 5em;
    background-color: #0000b3;
}

.fill {
    padding: 10px;
    height: 100%;
}

.sellBox {
    border: 3px solid black;
    border-radius: 5px;
    margin-right: 5em;
    background-color: #0000b3;
}

.merchBox {
    border: 3px solid black;
    border-radius: 5px;
    background-color: #0000b3;
}

.homes {
    margin-bottom: 1em;
    text-align: center;
    border: 1px solid black;
    overflow: auto;
    height: 10em;
    width: 100%;
}

#ran_hom:hover {
    cursor: pointer;
}
