
h3 {
    color:white;
}

p {
    color: white;
}

#bodyContent {
    width:100%;
    text-align:center;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}

.foodBox {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    padding:5px;
    background-color: #0000b3;
    border-radius: 10px;
    border: 2px solid #000000;
}

.aboutUsBox {
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    padding:5px;
    background-color: #0000b3;
    border-radius: 10px;
    border: 2px solid #000000;
}

@media only screen and (max-width: 1200px) {
    .foodBox {
        width:46%;
        display: inline-block;
        margin-bottom:20px;
        text-align:center;
    }
}

@media only screen and (max-width: 850px) {
    .foodBox {
        width:95%;
        display: inline-block;
        margin-bottom:20px;
        text-align:center;
    }
    #bodyContent {
    width:50%;
    }
    .aboutUsBox{
    width: 95%;
    }
}