#user_img {
    float:left;
    border: 1px solid;
}

#user_det {
    text-align: right;
    border: 1px solid;
    white-space: nowrap;
}

#placeholder {
    margin-bottom: 100%;
}

.list-group {
    text-emphasis: mute;
}