#user_img {
    float:left;
    border: 1px solid;
}

#user_det {
    text-align: right;
    border: 1px solid;
    white-space: nowrap;
}

#placeholder {
    margin-bottom: 100%;
}

.list-group {
    text-emphasis: mute;
}

#usr_house {
    border:1px solid;
}

#profile_pic {
    height: 10%;
    width: 10%;
}

.button_secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}