#user_img {
    float:left;
    border: 1px solid;
}

#user_det {
    text-align: right;
    border: 1px solid;
    white-space: nowrap;
}

#placeholder {
    margin-bottom: 100%;
}

.list-group {
    text-emphasis: mute;
}

#usr_house {
    border:1px solid;
}

#profile_pic {
    height: 10%;
    width: 10%;
}

.button_secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
}