{% extends 'base.html' %}

{% load static %}

{% block content %}


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/buy_house.css' %}">
    <script type="text/javascript" src="{% static 'js/buy_house_ver.js' %}"></script>
<div class="container">

<div class="stepwizard col-md-offset-3">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
        <p>Contact information</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
        <p>Payment</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
        <p>Review</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
        <p>Confirmation</p>
      </div>
    </div>
  </div>
  <form role="form" action="" method="post">
    {% csrf_token %}
    <div class="row setup-content" id="step-1">
      <div class="col-xs-6" id="infobox">
        <div class="col-md-12">
          <h3>Your Contact information</h3>
          <div class="form-group">
            <label class="control-label" >Street name</label>
            <input id="sn_F" required maxlength="100" type="text" class="form-control" placeholder="Enter street name"  />
          </div>
          <div class="form-group">
            <label class="control-label">House number</label>
            <input id="hn_F" required maxlength="100" type="text" class="form-control" placeholder="Enter house number" />
          </div>
          <div class="form-group">
            <label class="control-label" >City</label>
            <input id="c_F" maxlength="100" type="text" required class="form-control" placeholder="Enter your city" />
          </div>
          <div class="form-group">
            <label class="control-label">Country</label>
            <select id="cn_F" required class="form-control">
              <option value="iceland">Iceland</option>
              <option value="usa">United states of America</option>
              <option value="france">France</option>
              <option value="germany">Germany</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label" >Postal code</label>
            <input id="pc_F" maxlength="100" type="text" required="required" class="form-control" placeholder="Enter your postal code" />
          </div>
          <div class="form-group">
            <label class="control-label">Social security number</label>
            <input id="sc_F" maxlength="100" type="text" required="required" class="form-control" placeholder="Enter your social security number" />
          </div>
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
        </div>
      </div>
    </div>
    <div class="row setup-content" id="step-2">
      <div class="col-xs-6">
        <div class="col-md-12">
          <h3>Payment</h3>
          <div class="form-group">
            <label class="control-label">Credit card number</label>
            <input id="cc_F" maxlength="16" type="text" required="required" class="form-control" placeholder="Enter credit card number" />
          </div>
          <div class="form-group col-md-5">
            <label class="control-label">Expiration date</label>
            <input id="ex_F" maxlength="4" type="text" required="required" class="form-control" placeholder="mm/dd"  />
          </div>
          <div class="form-group col-md-5">
            <label class="control-label">CVV</label>
            <input id="cvv_F" maxlength="3" type="text" class="form-control" placeholder="CVV">
          </div>
        </div>
        <button onclick="change()" class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
      </div>
    </div>
    <div class="row setup-content" id="step-3">
      <div class="col-xs-6">
        <div class="col-md-12">
          <h3>Review</h3>
          
          <label class="control-label" >Street name</label>
          <div id="SN">-</div>
          <hr>

          <label class="control-label">House number</label>
          <div id="HN">-</div>
          <hr>

          <label class="control-label" >City</label>
          <div id="Ct">-</div>
          <hr>

          <label class="control-label">Country</label>
          <div id="Cn">-</div>
          <hr>

          <label class="control-label" >Postal code</label>
          <div id="PC">-</div>
          <hr>

          <label class="control-label">Social security number</label>
          <div id="SC">-</div>
          <hr>

          <label class="control-label">Credit card number</label>
          <div id="CCN">-</div>
          <hr>

          <label class="control-label">Expiration date</label>
          <div id="EX">-</div>
          <hr>

          <label class="control-label">CVV</label>
          <div id="CVV">-</div>
        </div>
        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" id="nex_but" >Next</button>
      </div>
    </div>
    <div class="row setup-content" id="step-4">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Confirmation</h3>
          <button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>

</div>

    <script src="{% static 'js/buy_house_steps.js' %}"></script>
{% endblock %}