{% extends 'base.html' %}

{% load static %}

{% block content %}

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/buy_house.css' %}">
<div class="container">

<div class="stepwizard col-md-offset-3">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
        <p>Contact information</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
        <p>Payment</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
        <p>Review</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
        <p>Confirmation</p>
      </div>
    </div>
  </div>
  <form role="form" action="" method="post">
    {% csrf_token %}
    <div class="row setup-content" id="step-1">
      <div class="col-xs-6">
        <div class="col-md-12">
          <h3>Contact information</h3>
          <div class="form-group">
            <label class="control-label">Street name</label>
            <input id="street_name" required maxlength="100" type="text" class="form-control" placeholder="Enter street name"  />
          </div>
          <div class="form-group">
            <label class="control-label">House number</label>
            <input required maxlength="100" type="text" class="form-control" placeholder="Enter house number" />
          </div>
          <div class="form-group">
            <label class="control-label">City</label>
            <input maxlength="100" type="text" required class="form-control" placeholder="Enter your city" />
          </div>
          <div class="form-group">
            <label class="control-label">Country</label>
            <select required class="form-control">
              <option value="iceland">Iceland</option>
              <option value="usa">United states of America</option>
              <option value="france">France</option>
              <option value="germany">Germany</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Postal code</label>
            <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter your postal code" />
          </div>
          <div class="form-group">
            <label class="control-label">Social security number</label>
            <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter your social security number" />
          </div>
          <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
        </div>
      </div>
    </div>
    <div class="row setup-content" id="step-2">
      <div class="col-xs-6">
        <div class="col-md-12">
          <h3>Payment</h3>
          <div class="form-group">
            <label class="control-label">Credit card number</label>
            <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter credit card number" />
          </div>
          <div class="form-group col-md-5">
            <label class="control-label">Expiration date</label>
            <input maxlength="30" type="text" required="required" class="form-control" placeholder="mm/dd"  />
          </div>
          <div class="form-group col-md-5">
            <label class="control-label">Card verification value</label>
            <input type="text" class="form-control" placeholder="CVV">
          </div>
        </div>
        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
      </div>
    </div>
    <div class="row setup-content" id="step-3">
      <div class="col-xs-6">
        <div class="col-md-12">
          <h3>Review</h3>
          <p>Street name: </p>
          <p>House number: FIX THIS SHIT</p>
          <p>City: </p>
          <p>Country: </p>
          <p>Postal code: </p>
          <p>Social security number:</p>
          <p>Credit card number: </p>
          <p>Expiration date: </p>
          <p>CVV: </p>
        </div>
        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Next</button>
      </div>
    </div>
    <div class="row setup-content" id="step-4">
      <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
          <h3>Confirmation</h3>
          <button class="btn btn-success btn-lg pull-right" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </form>

</div>

    <script src="{% static 'js/buy_house_steps.js' %}"></script>
{% endblock %}