{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{%static 'css/house_detail.css'%}">

<h2 style="text-align: center">{{ house.name }}</h2>
<section>
    <div class="images">
{% for house_image in house.houseimage_set.all %}
        <img src="{{ house_image.image }}" alt="Home">
{% endfor %}
    </div>
</section>

<div class="description">
    <h4>{{ house.description }}</h4>
    <p>Price: {{ house.price }}  |  Size: {{ house.size }}m²</p>
    <p>Seller:<a href="/users/{{ house.seller_id }}">{{ house.seller.name }}</a></p>
    {% if user.is_authenticated %}
    {% if user.profile != house.seller %}
    <a href="{% url 'buy' house.id%}" class="block btn btn-primary">BUY!!!!!</a>
    {% endif%}
    {% if user.profile == house.seller %}
    <a href="{% url 'delete_house' house.id%}" class="block btn btn-primary">Delete house</a>
    <a href="{% url 'update_house' house.id%}" class="block btn btn-primary">Update house</a>
    {% endif %}
    {% endif %}
</div>

{% endblock %}