{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{%static 'css/house_detail.css'%}">

<div class="title">
    <p>Houses</p>
</div>

<div class="searchBar">
    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Enter your search here.. " />
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default"> Search</button>
        </div>
    </div>
</div>

<div class="Choose">
    <div class="Order_by">
        <p>Order by: <select>
                          <option value="Price lowest to highest">Price lowest to highest</option>
                          <option value="Price highest to lowest">Price highest to lowest</option>
                          <option value="Size lowest to highest">Size lowest to highest</option>
                          <option value="Size highest to lowest">Size highest to lowest</option>
                    </select></p>

    </div>


    <div class="Size_range">
        <p> How big do you wanna go?</p>
    </div>


    <div class="slidecontainer">
        <input type="range" min="10" max="1000" class="slider" id="myRange">
        <p>Size: <span id="demo"></span>M<sup>2</sup></p>
    </div>

        <script>
            var slider1 = document.getElementById("myRange");
            var output1 = document.getElementById("demo");
            output1.innerHTML = slider1.value;

            slider1.oninput = function() {
              output1.innerHTML = this.value;
            }
        </script>

    <div class="Price_range">
        <P>How much do you got?</P>
    </div>

    <div class="slidecontainer">
        <input type="range" min="100000" max="500000000" class="slider" id="myMoney">
        <p>Kroner: <span id="money"></span>kr</p>
    </div>

        <script>
            var slider = document.getElementById("myMoney");
            var output = document.getElementById("money");
            output.innerHTML = slider.value;

            slider.oninput = function() {
              output.innerHTML = this.value;
            }
        </script>


</div>

<div class="houses">
    {% for house in houses %}
        {% include 'house/single_house.html' with house=house %}
    {% endfor %}
</div>


{% endblock %}