{% load static %}
<link rel="stylesheet" type="text/css" href="{%static 'css/single_house.css'%}">


<div class="single_house">



    <a href="/houses/{{ house.id }}">
            <div class="name">
                <fieldset>
                    <legend>{{ house.name }} <p style="font-size: 0.8em"> Postal code: {{ house.postal_code }}</p></legend>
                    <div class="description">
                        <p> {{ house.description }} </p>
                    </div>
                </fieldset>
            </div>


            <div class="photo_frame">

                    <img class="house_photo" src="{{ house.houseimage_set.first.image }}" alt="image">
                    <div class="size">
                        <p>Size:{{ house.size }} M<sup>2</sup> price:{{ house.price }} kr</p>
                    </div>

            </div>

            <div style="clear:both;"></div>

    </a>

</div>
