<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Habitat&trade;</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'images/thelogo.png' %}">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">

        <div class="bodycon">
            <a href="{% url 'home-index' %}"><img class="navbar-header-logo" src="{% static 'images/thelogo.png' %}" alt="logo" width="70px" height="70px"></a>
            <div class="column">
                <a class="navbar-brand" href="{% url 'home-index' %}" style="color:white">Habitat</a>
            </div>
        </div>

        {% if user.is_authenticated %}
        <div id="user_profile">
                <a href="/users/{{ user.id }}"><img src="{{user.profile.profile_image}}" width="50px" height="50px" id="prof_img"></a>
                <a href="/users/{{ user.id }}" style="color:white">{{user.profile.user.username}}</a>
        </div>
            {% endif %}
        <div class="loginsign">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><input type="button" class="btn tbn-primary" value="Logout" id="lgt"></a>
            {% else %}
                <a href="{% url 'login' %}"><input type="button" class="btn tbn-primary" value="Login" id="lgn"></a>
                <a href="{% url 'register' %}"><input type="button" class="btn tbn-primary" value="Sign up"></a>
            {% endif %}
        </div>
    </div>
  </div>
</nav>
    {% if messages %}
    <div class="span12">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="color: crimson;">
            {{ message|safe }}
        </div>
    {% endfor %}
</div>
{% endif %}
    <div class="container">
    {% block content %}


    {% endblock %}
    </div>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <footer>
        <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
              <a href="/aboutUs"><h6><u>About Habitat</u></h6></a>
            <p class="text-justify">Habitat&trade;, <i>free your beast and claim your home. </i> We here in Habitat&trade; believe in the freedom of housing.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Information Links</h6>
            <ul class="footer-links">
              <li>Contact us over email <a href="mailto:pserekkicool@gmail.com"><u> habitat@gmail.com</u></a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright&copy; 2019 All Rights Reserved by Habitat&trade;.</p>
          </div>
        </div>
      </div>

    </footer>

</body>
</html>
