{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/user_detail.css' %}">
<script src="{% static 'js/profile_tabs.js'%}"></script>
<script src="{% static 'js/houses.js'%}"></script>

{% if user.profile == seller.profile %}

    <div class="container">
        <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'viewProfile')" id="defaultOpen">View Profile</button>
        <button class="tablinks" onclick="openTab(event, 'editProfile')">Edit profile</button>
        <button class="tablinks" onclick="openTab(event, 'searchHistory')">Search History</button>
    </div>
    
{% else %}
    <div class="container">
        <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'viewProfile')" id="defaultOpen" hidden>Profile details</button>
    </div>
{% endif %}

<div id="viewProfile" class="tabcontent">
  <div class="row">
        <div class="col-sm-10">
            <h3>"{{seller.profile.info}}"</h3></div>
        <div class="col-sm-2">
            <img title="profile image" class="img-circle img-responsive" src="{{seller.profile.profile_image}}" alt="profile_image">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">

            <ul class="list-group">
                <li class="list-group-item text-muted">Info</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Joined: </strong></span>{{ seller.date_joined }}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>User name: </strong></span>{{ seller.username }}</li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted">Contact Information</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Real Name: </strong></span>{{seller.profile.name}}</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Email: </strong></span>{{ seller.profile.mail }}</li>
            </ul>

            {% if seller.profile == user.profile %}
            <a href="delete/{{seller.id}}">
                <ul class="list-group">
                    <li class="list-group-item text-muted" style="background-color: red; text-align: center; color:black;">Delete Account</li>
                </ul>
            </a>

            {% endif %}
        </div>

        <h3>Houses on offer</h3>
        <hr>

        {% for house in houses %}
        <div id="usr_house">
            {% include 'house/usr_single_house.html' with house=house %}
        </div>
        {% endfor %}

    </div>
</div>

<div id="editProfile" class="tabcontent">
    <h1>Edit Profile</h1>
    <hr>
    <form class="form form-horizontal"method="post">
        {% csrf_token %}
        {{ form }}<br>
        <input type="submit" class="btn btn-primary" value="Update" />
    </form>
</div>

    <div id="searchHistory" class="tabcontent">
    <h1>Your search history</h1>
    <hr>
    <ul>
        {% for term in search_history %}
            <!--<a href="/houses?search_filter={{term}}">-->
                    <li><h3>{{term}}</h3>
                <!--<button type="button" style="background-color: orange" id="search-btn" class="btn btn-default"> Search</button>-->
            <!--</a>-->
        {% endfor %}
    </ul>
    </div>
</div>
<script>
    document.getElementById("defaultOpen").click();
</script>
{% endblock %}
