{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/user_detail.css' %}">
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h1>{{seller.profile.name}}</h1></div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="{{seller.profile.profile_image}}" alt="profile_image"></a>
                                                                                                                    <!--{{ user.image }}-->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <ul class="list-group">
                <li class="list-group-item text-muted">Info</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Joined: </strong></span>{{ user.created }} *placeholder*</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Real name: </strong></span>{{ user.name }} *placeholder*</li>

            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted">Selling Points <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Houses for sale</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Houses Sold</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Dicks Sucked</strong></span> 37</li>
            </ul>
            

        </div>
        <h3>Houses on offer</h3>
        <hr>
        
        {% for house in houses %}
        <div id="usr_house">
            {% include 'house/single_house.html' with house=house %}
        </div>
        {% endfor %}
        place houses the user has on offer here
    </div>
</div>

{% endblock %}